@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe-Regular.eot');
    src: url('../fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Circe-Regular.woff2') format('woff2'), url('../fonts/Circe-Regular.woff') format('woff'), url('../fonts/Circe-Regular.ttf') format('truetype'), url('../fonts/Circe-Regular.svg#Circe-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.eot');
    src: url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-SemiBold.woff2') format('woff2'), url('../fonts/Montserrat-SemiBold.woff') format('woff'), url('../fonts/Montserrat-SemiBold.ttf') format('truetype'), url('../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Regular.woff2') format('woff2'), url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.ttf') format('truetype'), url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?lsyaix');
    src: url('../fonts/icomoon.eot?lsyaix#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?lsyaix') format('truetype'), url('../fonts/icomoon.woff?lsyaix') format('woff'), url('../fonts/icomoon.svg?lsyaix#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
    content: "\e90d";
}

.icon-long-arrow-right:before {
    content: "\e90c";
    color: #fff;
}

.icon-menu:before {
    content: "\e919";
}

.icon-navbar-user:before {
    content: "\e900";
    color: rgba(59, 59, 59, 1);
}

.icon-search:before {
    content: "\e901";
}

.icon-arrow-down:before {
    content: "\e902";
    color: #005bf3;
}

.icon-arrow:before {
    content: "\e903";
    color: #005bf3;
}

.icon-check:before {
    content: "\e904";
    color: #53d86a;
}

.icon-edit:before {
    content: "\e905";
    color: #005bf3;
}

.icon-email:before {
    content: "\e906";
}

.icon-settings:before {
    content: "\e907";
    color: #005bf3;
}

.icon-phone:before {
    content: "\e908";
}

.icon-location:before {
    content: "\e909";
}

.icon-world-wide-web:before {
    content: "\e90a";
}

.icon-user:before {
    content: "\e90b";
    color: #005bf3;
}