@import "./bootstrap.min.css";
@import "./bootstrap-select.min.css";
@import "fonts.css";
@import "variables";
body {
    font-family: 'Jost';
}

a {
    text-decoration: none;
}

.navbar-light .navbar-nav {
    margin-left: auto;
    .nav-link {
        font-family: 'Circe';
        font-size: 18px;
        color: $black;
        padding: 0 12px;
    }
}

.navbar-toggler {
    &:focus {
        box-shadow: none;
    }
}

.navbar {
    padding: 42px 0;
    background-color: $white!important;
    .navbar-toggler,
    .navbar-brand {
        z-index: 1000;
    }
    .navbar-collapse {
        @media (max-width: 1200px) {
            &.show {
                opacity: 1.5;
            }
            background-color: $white;
            opacity: 0;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transition: opacity 0.35s ease;
            display: flex;
            flex-direction: column;
            align-content: center;
            text-align: center !important;
            &.collapse {
                opacity: 0;
                display: flex;
                pointer-events: none;
            }
            &.collapsing[style*="height"] {
                opacity: 1;
                height: 100vh !important;
            }
            &.collapsing {
                opacity: 0;
                height: 100vh;
            }
            &.collapse.show {
                opacity: 1;
                pointer-events: auto;
            }
            .navbar-nav {
                margin-left: 0;
                margin-top: auto;
                margin-bottom: auto;
            }
        }
    }
}

@media (max-width: 1200px) {
    .navbar-light .navbar-nav {
        .nav-link {
            text-align: start;
        }
    }
}

.btn {
    font-family: 'Circe';
    font-size: 20px;
    border-radius: 4px;
    padding: 15px 48px;
}

.btn-primary {
    color: $white;
    background-color: $blue;
    &:hover {
        box-shadow: 0px 15px 35px rgba(0, 95, 255, 0.25);
    }
    &:focus {
        box-shadow: inset 0px 15px 35px rgba(0, 95, 255, 0.35);
    }
}

.btn-white {
    color: $black;
    background-color: $white;
}

.hero {
    .hero-image {
        position: absolute;
        right: 0;
        width: 51%;
    }
}

.card-img-top {
    min-height: 211px;
}

.main-description {
    font-family: 'Jost';
    font-weight: 300;
    font-size: 24px;
    color: $darkgrey;
}

.card {
    background-color: transparent;
    .card-title {
        font-weight: 600;
        font-size: 18px;
        color: $darkgrey;
    }
    .card-text {
        font-family: 'Montserrat';
        font-weight: normal;
        font-size: 16px;
        color: $darkgrey;
    }
}

.form-bg {
    background: url('../images/form-bg.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}

textarea {
    resize: none;
}

.form-control {
    font-family: 'Circe';
    font-size: 14px;
    color: $darkgrey;
    border: 1px solid $blue;
    border-radius: 4px;
    padding: 13px 16px;
    &::placeholder {
        color: rgba(0, 91, 243, 0.5);
    }
    &:focus {
        box-shadow: none;
        border-color: $blue;
    }
}

.input-group-text {
    background-color: $blue;
    border: none;
    padding: 10px 48px;
}

.bootstrap-select> {
    .btn {
        font-weight: 300;
        font-size: 20px;
        padding: 11px 20px!important;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .btn-light {
        background-color: $white;
        border-color: $blue;
        color: $blue;
    }
    .dropdown-menu {
        border-color: $blue;
    }
    .dropdown-toggle {
        &::after {
            font-family: 'icomoon';
            content: "\e902";
            font-size: 16px;
            border-top: none;
            border-bottom: none;
            border-left: none;
            border-right: none;
        }
    }
}

.dropdown-item {
    font-weight: 400;
    font-size: 14px;
    color: $darkgrey;
    border: 1px solid rgba(0, 82, 255, 0.08);
    padding: 15px 24px;
}

.dropdown-item.active,
.dropdown-item:active {
    color: $darkgrey;
    background: #F4F8FF;
}

.main-blur {
    width: 231px;
    height: 231px;
    border-radius: 50%;
    filter: blur(200px);
    position: absolute;
    z-index: -1;
    @media (max-width: 992px) {
        width: 123px;
        height: 123px;
        filter: blur(120px);
    }
}

.success-blur {
    background-color: $green;
    &.right {
        top: -100px;
        right: 0px;
    }
    &.left {
        top: 0;
        left: 0;
    }
}

.gold-blur {
    background-color: $gold;
    &.right {
        bottom: 0;
        right: 0;
    }
    &.left {
        top: 0;
        left: 0;
    }
    &.center {
        top: 35%;
        right: 45%;
        @media (max-width: 992px) {
            top: 10%;
            right: 75%;
        }
    }
}

.blue-blur {
    background-color: $blue;
    &.right {
        top: -100px;
        right: 0;
    }
    &.left {
        bottom: 0;
        left: 0;
        @media (max-width: 992px) {
            display: none;
        }
    }
    &.center {
        top: 30%;
        right: 20%;
        @media (max-width: 992px) {
            top: 0;
        }
    }
}

footer {
    .form-control {
        font-family: 'Circe';
        font-size: 14px;
        color: $black;
        border: 1px solid $white;
        border-radius: 4px;
        padding: 13px 16px;
        background-color: transparent;
        &::placeholder {
            color: rgba(255, 255, 255, 0.5);
        }
        &:focus {
            &::placeholder {
                color: #BDBDBD;
            }
            color: $darkgrey;
            background-color: $white;
            border-color: $blue;
        }
    }
    ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        li a {
            font-weight: 400;
            font-size: 18px;
            color: $white;
            text-transform: uppercase;
            padding-bottom: 8px;
        }
    }
    p {
        font-size: 18px;
    }
}

@media (max-width: 1400px) {
    .navbar-light .navbar-nav .nav-link {
        font-size: 16px;
    }
    .form-bg {
        background: none
    }
    h1 {
        font-size: 54px!important;
    }
}

@media (max-width: 1200px) {
    h1 {
        font-size: 40px!important;
    }
}

@media (max-width: 992px) {
    .hero {
        .hero-image {
            position: static;
            top: 0;
            width: 100%;
        }
    }
    .mt-300 {
        margin-top: 140px!important;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 24px!important;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 14px;
    }
    p {
        font-size: 10px;
    }
    .pb-160 {
        padding-bottom: 120px;
    }
    .navbar {
        padding: 22px 0;
    }
    .btn {
        font-size: 16px;
        padding: 10px 48px;
    }
    .card {
        .card-title {
            font-size: 14px;
        }
        .card-text {
            font-size: 12px;
        }
    }
    .card-img-top {
        min-height: 63px;
    }
    .main-description {
        font-size: 12px;
    }
    .input-group-text {
        padding: 10px 22px;
    }
    .bootstrap-select>.btn {
        font-size: 10px;
        padding: 12px 20px!important;
    }
    .bootstrap-select {
        width: 140px!important;
    }
    footer {
        ul li a {
            font-size: 14px;
        }
        p {
            font-size: 12px;
        }
    }
}